<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meeting-Detail</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/meetingDetail.js"></script>
</head>
<body>
<div align="center">
    <div id="meeting-name"style="font-size: 300%;"></div>
    <hr>
    <div style="font-size: 220%;display: inline;">Year:    </div><div  style="font-size: 200%;
        display: inline;margin-right: 10px" id="meeting-year" ></div>
    <hr>
    <div style="font-size: 220%;display: inline;">PaperNum:    </div><div  style="font-size: 200%;
        display: inline;margin-right: 10px" id="meetingPaperNum" ></div>
    <div style="font-size: 220%;display: inline;">CitationSum:    </div><div  style="font-size: 200%;
        display: inline;" id="meetingCitationSum" ></div>
</div>

</body>
</html>