<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>meeting</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/Statistic.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/echarts.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/meeting.js"></script>
</head>
<body>
<div class="headers" style="width: 100%">
    <div style=" background-color: #b10d12;font-size: 22px;float:left;width: 16.6%;height: 50px;line-height: 50px;text-align: center">
        <a href="/view/home" style="color: #000;">论文</a>
    </div>
    <div  style=" background-color: #b1671f; font-size: 22px;  float:left;width: 16.6%;height: 50px;line-height: 50px;text-align: center">
        <a href="/view/author" style="color: #000;">作者</a>
    </div>
    <div style=" background-color: #abb123;font-size: 22px;float:left;width: 16.6%;height: 50px;line-height: 50px;text-align: center">
        <a href="/view/org" style="color: #000">机构</a>
    </div>
    <div style=" background-color: #6e76b1;font-size: 22px;float:left;width: 16.6%;height: 50px;line-height: 50px;text-align: center">
        <a href="/view/field" style="color: #000">研究方向</a>
    </div>
    <div style=" background-color: #339db1;font-size: 22px;float:left;width: 16.6%;height: 50px;line-height: 50px;text-align: center">
        <a href="/view/meeting"style="color: #fefff4;font-size: 170%">会议</a>
    </div>
    <div style=" background-color: #5db12f;font-size: 22px;float:left;width:17%;height: 50px;line-height: 50px;text-align: center">
        <a href="#" style="color: #000"></a>
    </div>
</div>
<br>

<hr>

<div class="card table-container" id="meeting-rating" ></div>
</body>
</html>