<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>org-Detail</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/echarts.js"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
    <script src="/js/bootstrap.js"></script>
    <!-- 引入js脚本文件 -->
    <script src="/js/request.js"></script>
    <script src="/js/orgDetail.js"></script>
</head>
<body>

<table width="100%" style="height: 100%"  border="1px">
    <tr style="height: auto">
        <td colspan="3" align="center">
            <div id="orgDetail-name"style="font-size: 300%;display: inline" ></div>
            <br>
            <div style="font-size: 130%;display: inline;">PaperNum:   </div><div  style="font-size: 200%;
        display: inline;" id="orgPaperNum" ></div>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div style="font-size: 130%;display: inline;">CitationSum:   </div><div  style="font-size: 200%;
        display: inline;" id="orgCitationSum" ></div>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div style="font-size: 130%;display: inline;">AuthorNum:   </div><div  style="font-size: 200%;
        display: inline;" id="orgAuthorNum" ></div>

        </td>
    </tr>
    <tr style="height: auto">
        <td width="30%">
            <div>
                <p style="font-size: 170%;">Top Research Fields :</p>
                <div style="font-size: 120%;margin-left: 50px;color: #2994af;" id="Top5keyword" ></div>
            </div>
        </td>
        <td rowspan="2" width="40%" style="padding-top: 0;padding-bottom: 0" height=500px>
            <div id="orgDetail-pie" style="height: 100%"></div>
        </td>
        <td width="30%" >
            <div>
                <p style="font-size: 170%;display: inline">Top Authors :</p>
                <div style="font-size: 120%;margin-left: 50px;color: #2994af;" id="TopAuthor" ></div>
            </div>
            <p></p><p></p>
            <div>
                <p style="font-size: 170%;display: inline">Relevant Authors :</p>
                <span id="relevant-author-num" style="font-size: 150%"></span><span style="font-size: 150%">  total</span>
                <p style="font-size: 140%;color: #261eff">most relevant: </p>
                <div style="font-size: 120%;margin-left: 50px;color: #2994af;" id="RelevantAuthor" ></div>
            </div>
        </td>
    </tr>

    <tr style="height: auto">
        <td>
            <div>
                <br>
                <p style="font-size: 170%;">Top Papers :</p>
                <div style="font-size: 110%;margin-left: 10px; margin-right: 10px;color: #2994af;text-align: left" id="Top5paper" ></div>
            </div>
        </td>
        <td style="padding-top: 1px">
            <div>
                <p style="font-size: 170%;display: inline">Relevant Organizations :    </p>
                <span id="relevant-org-num" style="font-size: 150%"></span><span style="font-size: 150%">  total</span>
                <p style="font-size: 140%;color: #261eff">most relevant: </p>
                <div style="font-size: 105%;margin-left: 20px;color: #2994af;" id="RelevantOrg"  ></div>
            </div>
        </td>
    </tr>

    <tr style="height:300px">
        <td colspan="3" style="padding-top: 0;padding-bottom: 0">
            <div id="orgDetail-bar" style="height: 100%"></div>
        </td>
    </tr>

</table>


</body>
</html>